<div class="invite-page">
  <p-card class="invite-card">
    @if (submitted()) {
      <h1>{{ 'forgotPassword.checkEmailTitle' | translate }}</h1>
      <p class="lede">{{ 'forgotPassword.checkEmailLede' | translate }}</p>
      <a class="link-back" routerLink="/sign-in">
        <app-icon name="arrow-left" /> {{ 'forgotPassword.backToSignIn' | translate }}
      </a>
    } @else {
      <h1>{{ 'forgotPassword.title' | translate }}</h1>
      <p class="lede">{{ 'forgotPassword.lede' | translate }}</p>

      <form (ngSubmit)="submit()" class="invite-form">
        <div class="field">
          <label for="forgot-email">{{ 'forgotPassword.emailLabel' | translate }}</label>
          <input
            pInputText
            id="forgot-email"
            name="email"
            type="email"
            autocomplete="email"
            [(ngModel)]="email"
            required
          />
        </div>

        <app-turnstile
          #turnstileRef
          [siteKey]="turnstileSiteKey"
          action="forgot-password"
          (tokenChange)="onTokenChange($event)"
        />

        <p-button
          type="submit"
          data-testid="forgot-password-submit"
          [label]="'forgotPassword.submit' | translate"
          [loading]="submitting()"
          [disabled]="submitting() || !turnstileToken()"
        >
          <ng-template #icon><app-icon name="envelope" /></ng-template>
        </p-button>

        <a class="link-back" routerLink="/sign-in">
          <app-icon name="arrow-left" /> {{ 'forgotPassword.backToSignIn' | translate }}
        </a>
      </form>
    }
  </p-card>
</div>
