<p-tabs value="accounts">
  <p-tablist>
    <p-tab value="accounts">Accounts</p-tab>
    <p-tab value="signups">Sign-ups</p-tab>
    <p-tab value="invitations">Invitations</p-tab>
    <p-tab value="general">General</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="accounts">
      <app-accounts />
    </p-tabpanel>
    <p-tabpanel value="signups">
      <app-signups />
    </p-tabpanel>
    <p-tabpanel value="invitations">
      <app-invitations />
    </p-tabpanel>
    <p-tabpanel value="general">
      <app-health-status />
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
