<p-card [header]="'healthStatus.title' | translate">
  @if (health(); as result) {
    <div class="health-status__row">
      <p-tag
        [severity]="result.status === 'ok' ? 'success' : 'danger'"
        [value]="('healthStatus.backend' | translate) + ': ' + result.status"
      />
      <p-tag
        [severity]="result.status === 'ok' ? 'success' : 'danger'"
        [value]="('healthStatus.database' | translate) + ': ' + result.database"
      />
    </div>
    <p class="health-status__timestamp">
      {{ 'healthStatus.checkedAt' | translate }} {{ result.timestamp }}
    </p>
  } @else if (error()) {
    <p-message severity="error">
      <ng-template #icon><app-icon name="warning" /></ng-template>
      {{ error() }}
    </p-message>
  } @else {
    <p-message severity="secondary">
      <ng-template #icon><app-icon name="spinner" [spin]="true" /></ng-template>
      {{ 'healthStatus.checking' | translate }}
    </p-message>
  }
</p-card>
