<p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
  <p-tablist>
    <p-tab value="profile" data-testid="settings-tab-profile">{{
      'settings.profile' | translate
    }}</p-tab>
    <p-tab value="preferences" data-testid="settings-tab-preferences">{{
      'settings.preferences' | translate
    }}</p-tab>
    @for (tab of visibleTabs(); track tab.domainId) {
      <p-tab [value]="tab.path" [attr.data-testid]="'settings-tab-' + tab.domainId">{{
        tab.labelKey | translate
      }}</p-tab>
    }
  </p-tablist>
  <p-tabpanels>
    <router-outlet />
  </p-tabpanels>
</p-tabs>
